
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */



/* Here is one of many  CSS rules you will need... */
/* #one {
    
} */

/* blocks.css */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif;  */
    /* Default font family */

}

#one, #two, #three, #four {
    position: fixed;
    width: 25%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #000; 
    /* Text color */
    background-color: #fff; 
    /* Background color */
}

#one {
    border: 5px solid blue;
    bottom: 0;
    right: 0;
   
}

#two {
    border: 5px solid green;
    top: 0;
    right: 0;
}

#three {
    border: 5px solid orange;
    top: 0;
    left: 0;
}

#four {
    border: 5px solid yellow;
    bottom: 0;
    left: 0;
}

#link {
    text-align: center;
    /* width: 100%; */
    position: fixed;
    top: 0;
    left: 50%;
    margin: 3px;
    /* padding: 10px; */
    display:inline-block;
    background-color: blue; 
    /* Background color from Brainy Quote */
    /* font-family: Arial, sans-serif; */
     /* Font family from Brainy Quote */
}

#link a {
    color: white; /* Text color from Brainy Quote */
    text-decoration: none;
    font-size: large;

    /* Adjust font size as needed */
}

/* #link a:hover {
    text-decoration: underline;
} */
